*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   
}
body{
    background: linear-gradient(180deg, #FFE9E9 0%, rgba(255, 0, 0, 0) 100%);
    position: relative;
    width: 1440px;
    height: 1024px;
}
.main{
    position: absolute;
    width: 967px;
    height: 864px;
    left: 296px;
    top: 85px;
    background: #FFFFFF;

}
.h{
    position: absolute;
    width: 188px;
    height: 56px;
    left: 10px;
    top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    text-align: center;

    color: #000000;

}
.name{
    position: absolute;
    width: 435px;
    height: 134px;
    left: 251px;
    top: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    text-align: center;

color: #000000;
}
.student{
    position: absolute;
    width: 435px;
    height: 134px;
    left: 251px;
    top: 50px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #686161;

}
.college{
    position: absolute;
    width: 435px;
    height: 134px;
    left: 251px;
    top: 80px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #686161;
}
.rec{
    position: absolute;
    width: 44px;
    height: 8px;
    left: 450px;
    top: 140px;
    background: #FFB9B9;
}
.about{
    position: absolute;
    width: 159px;
    height: 36px;
    left: 400px;
    top: 170px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}
.me{
    position: absolute;
    width: 867px;
    height: 172px;
    left: 60px;
    top: 205px;

    font-family: Calibri;
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;

    color: #837979;
}
.rec1{
    position: absolute;
    width: 44px;
    height: 8px;
    left: 450px;
    top: 396px;
    background: #FFB9B9;
}
.per{
    position: absolute;
    width: 159px;
    height: 36px;
    left: 400px;
    top: 416px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}
.cir{
    position: absolute;
    width: 10px;
    height: 9px;
    left: 465px;
    top: 460px;
    border-radius: 50px;

    background: #020101;
}
.sep{
    position: absolute;
    width: 118.91px;
    height: 1.04px;
    left: 410px;
    top: 532px;

    background: #D3C4C4;
    border: 1px solid rgba(184, 170, 170, 0.4);
    transform: rotate(-90.68deg);
}
.cir1{
    position: absolute;
    width: 10px;
    height: 9px;
    left: 465px;
    top: 596px;
    border-radius: 50px;

    background: #FFB9B9;
}
.n{
    position: absolute;
    width: 55px;
    height: 10.36px;
    left: 378px;
    top: 480px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;

    color: #000000;
}
.b{
    position: absolute;
    width: 55px;
    height: 10.36px;
    left: 378px;
    top: 508px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;

    color: #000000;   
}
.nation{
    position: absolute;
    width: 55px;
    height: 10.36px;
    left: 378px;
    top: 537px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;

    color: #000000;
}
.f{
    position: absolute;
    width: 55px;
    height: 10.36px;
    left: 378px;
    top: 565px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;

    color: #000000;
}
.n1{
    position: absolute;
    width: 150px;
    height: 10.36px;
    left: 498px;
    top: 480px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 14px;

    color: #796A6A;
}
.b1{
    position: absolute;
    width: 55px;
    height: 10.36px;
    left: 498px;
    top: 508px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 14px;

    color: #796A6A;   
}
.nation1{
    position: absolute;
    width: 55px;
    height: 10.36px;
    left: 498px;
    top: 537px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 14px;

    color: #796A6A;   
}
.f1{
    position: absolute;
    width: 55px;
    height: 10.36px;
    left: 498px;
    top: 565px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 14px;

    color: #796A6A; 
}
.rec2{
    position: absolute;
    width: 44px;
    height: 8px;
    left: 450px;
    top: 620px;
    background: #FFB9B9;
}
.con{
    position: absolute;
    width: 159px;
    height: 36px;
    left: 400px;
    top: 635px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}
.cir2{
    position: absolute;
    width: 10px;
    height: 9px;
    left: 465px;
    top: 680px;
    border-radius: 50px;

    background: #020101;
}
.sep1{
    position: absolute;
    width: 118.91px;
    height: 1.04px;
    left: 410px;
    top: 753px;

    background: #D3C4C4;
    border: 1px solid rgba(184, 170, 170, 0.4);
    transform: rotate(-90.68deg);
}
.cir3{
    position: absolute;
    width: 10px;
    height: 9px;
    left: 465px;
    top: 820px;
    border-radius: 50px;

    background: #FFB9B9;
}
.e{
    position: absolute;
    width: 55px;
    height: 10.36px;
    left: 378px;
    top: 710px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;

    color: #000000;
}
.p{
    position: absolute;
    width: 55px;
    height: 10.36px;
    left: 378px;
    top: 747px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;

    color: #000000;
}
.i{
    position: absolute;
    width: 55px;
    height: 10.36px;
    left: 378px;
    top: 780px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;

    color: #000000;
}
.e1{
    position: absolute;
    width: 55px;
    height: 10.36px;
    left: 498px;
    top: 710px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 14px;

    color: #796A6A; 
}
.p1{
    position: absolute;
    width: 55px;
    height: 10.36px;
    left: 498px;
    top: 747px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 14px;

    color: #796A6A; 
}
.i1{
    position: absolute;
    width: 55px;
    height: 10.36px;
    left: 498px;
    top: 780px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 14px;

    color: #796A6A; 
}
.img1{
    position: absolute;
    width: 192px;
    height: 171px;
    left: 104px;
    top: 84px;
    border: 1px solid #E2D9D9;
    box-sizing: border-box;
    background: url(anime-naruto-kakashi-hatake-wallpaper-preview.jpg);
}
.na{
    position: absolute;
    width: 192px;
    height: 35px;
    left: 104px;
    top: 257px;

    background: #484343;
    border: 1px solid #E2D9D9;
    box-sizing: border-box;
}
.na1{
    position: absolute;
    width: 177px;
    height: 23px;
    left: 114px;
    top: 264px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}
.abutton{
    position: absolute;
    width: 192px;
    height: 102px;
    left: 104px;
    top: 292px;

    background: #FFFFFF;
    border: 1px solid #E2D9D9;
    box-sizing: border-box;
    
}
.abutton1{
    visibility: hidden;
    position: absolute;
    width: 192px;
    height: 102px;
    left: 104px;
    top: 292px;
    
    transform: translateX(5px);
    background: rgb(255, 104, 104);
    border: 1px solid #E2D9D9;
    box-sizing: border-box;
}
.aboutme:hover > .abutton1 {
visibility: visible;


}
.rbutton{
    position: absolute;
    width: 192px;
    height: 102px;
    left: 104px;
    top: 394px;

    background: #FFFFFF;
    border: 1px solid #E2D9D9;
    box-sizing: border-box;
}
.rbutton1{
    visibility: hidden;
    position: absolute;
    width: 192px;
    height: 102px;
    left: 104px;
    top: 394px;
    transform: translateX(5px);
    background: rgb(255, 104, 104);
    border: 1px solid #E2D9D9;
    box-sizing: border-box;
}
.resume1:hover > .rbutton1{
    visibility: visible;
}
.cbutton{
    position: absolute;
    width: 192px;
    height: 102px;
    left: 104px;
    top: 496px;

    background: #FFFFFF;
    border: 1px solid #E2D9D9;
    box-sizing: border-box;
}
.cbutton1{
    visibility: hidden;
    position: absolute;
    width: 192px;
    height: 102px;
    left: 104px;
    top: 496px;
    transform: translateX(5px);
    background: rgb(255, 104, 104);
    border: 1px solid #E2D9D9;
    box-sizing: border-box;
}
.contact1:hover > .cbutton1{
    visibility: visible;
}
.img2{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 78px;
    top: 05px;
}
.a{
    position: absolute;
    top: 40px;
    left:50px;
    font-size: 24px;
    font-family: Roboto;
    color: black;

}
.w{
    position: absolute;
    top: 68px;
    left:58px;
    font-size: 17px;
    font-family: Roboto;
    color:#796A6A;
}
.a1{
    position: absolute;
    top: 40px;
    left:50px;
    font-size: 24px;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    transform: translateX(5px);
}
.w1{
    position: absolute;
    top: 68px;
    left:58px;
    font-size: 17px;
    font-family: Roboto;
    color:#fffafa;
    transform: translateX(5px);
}
.img3{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 83px;
    top: 15px;
}    
.r{
    position: absolute;
    top: 50px;
    left:58px;
    font-size: 28px;
    font-family: Roboto;
    color: black;
}
.r1{
    position: absolute;
    top: 50px;
    left:58px;
    font-size: 28px;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    transform: translateX(5px);
}
.img4{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 78px;
    top: 15px;
}
.c{
    position: absolute;
    top: 50px;
    left:42px;
    font-size: 24px;
    font-family: Roboto;
    color: black;
    
}
.s{
    position: absolute;
    top: 70px;
    left:58px;
    font-size: 20px;
    font-family: Roboto;
    color:#796A6A; 
}
.c1{
    position: absolute;
    top: 50px;
    left:42px;
    font-size: 24px;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    transform: translateX(5px);
}
.s1{
    position: absolute;
    top: 70px;
    left:58px;
    font-size: 20px;
    font-family: Roboto;
    color:#ffeeee; 
    transform: translateX(5px);
}
.fbutton{
    position: absolute;
    width: 48px;
    height: 50px;
    left: 1263px;
    top: 85px;

    background: #FFFFFF;
    border: 1px solid #928282;
    box-sizing: border-box;
}
.fbutton:hover{
    background: rgb(255, 104, 104);
    transform: scale(1.1);
}
.tbutton{
    position: absolute;
    width: 48px;
    height: 50px;
    left: 1263px;
    top: 135px;

    background: #ffffff;
    border: 1px solid #928282;
    box-sizing: border-box;
}
.tbutton:hover{
    background: rgb(255, 104, 104);
    transform: scale(1.1);
}
.inbutton{
    position: absolute;
    width: 48px;
    height: 50px;
    left: 1263px;
    top: 185px;

    background: #FFFFFF;
    border: 1px solid #928282;
    box-sizing: border-box;
}
.inbutton:hover{
    background: rgb(255, 104, 104);
    transform: scale(1.1);
}
.img5{
    position: absolute;
    width: 34px;
    height: 34px;
    left: 7px;
    top: 7px;

}
.img6{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 7px;
    top: 7px;
}
.img7{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 11px;
    top: 11px;
}
.abbox{
    position: absolute;
    width: 29px;
    height: 28px;
    left: 636px;
    top: 22px;

    background: #FF0000;
}
.abme{
    position: absolute;
width: 343px;
height: 30px;
left: 690px;
top: 23px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;

color: #000000;

}